@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

.App {
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  align-items: 'center'
}

input[type=text] {
  border-color: black; /* Remove this later */
  border-width: 2px;
  height: 40px;
  width: 30%;
  padding-left: 10px;
  border-radius: 8px;
  font-size: medium;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.stateSelect {
  width: 30%;
  height: 40px;
  margin-bottom: 10px;
}

.logo {
  width: 10%;
  height: 10%;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

form {
  align-items: 'center';
  border: 'red';
}

select {
  appearance: none;
  padding-left: 10px;
  color: 'black';
  border-width: 2px;
}