.StateSelect {
  height: 10%;
  border-width: 2px;
}

.dropButton {
  width: 30%;
  text-align: left;
  margin: 0 auto;
}

.menu {
  height: 300px;
  overflow-y: scroll;
}

.div1 {
  margin: 0 auto;
  background-color: 'red'
}